* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Lato', sans-serif;
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  -webkit-transition: color 0.5ms linear;
  -moz-transition: color 0.5ms linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
.header {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 0 10%;
}
.logo {
  width: 129px;
  height: 108px;
}
.logo__img {
  width: 100%;
}
.main-menu {
  margin-left: auto;
}
.main-menu__list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-menu__item {
  list-style: none;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.main-menu__link {
  text-decoration: none;
  cursor: pointer;
}
.button-menu {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  text-align: right;
  padding: 10px 0 0;
  margin: 0;
}
.button-menu__link {
  padding: 10px 40px;
  display: block;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
}
.button-menu__link:hover {
  background-color: #eee;
  color: #333;
}
#checkbox-button-menu:checked + .button-menu {
  display: block;
}
.main {
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
.main__button {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 30px;
}
.main__description {
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
/* sections */
.section-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 0 19px;
  align-items: center;
}
.section-title:after {
  content: "";
  width: 88px;
  height: 1px;
  margin-top: 10px;
  background-color: #f69679;
}
.section-title--left {
  align-items: left;
}
.section-title--meals {
  margin-bottom: 50px;
}
.features {
  width: 100%;
  padding: 100px 10%;
}
.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}
.features__item {
  width: 360px;
  padding: 0 10px;
}
.features__item:before {
  content: "";
  width: 107px;
  height: 107px;
  border: 1px solid #000;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  display: inline-block;
  margin-bottom: 20px;
}
.features__item--burger:before {
  background-image: url('images/burger@2x.png');
}
.features__item--money:before {
  background-image: url('images/money@2x.png');
}
.features__item--men:before {
  background-image: url('images/man@2x.png');
}
.features__description {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #8b8b8b;
}
.app {
  background-color: #f7f7f7;
  padding: 180px 10% 0;
  height: 700px;
  display: flex;
}
.app__image {
  width: 523px;
  background-image: url(images/iphone@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: -80px;
}
.app__content {
  width: 543px;
  margin-left: auto;
}
.app__description {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin: 0 0 30px;
}
.app__link {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.app__link--appstore {
  width: 112px;
  height: 39px;
  background-image: url('images/appstore@2x.png');
}
.app__link--googleplay {
  width: 120px;
  height: 39px;
  background-image: url('images/googleplay@2x.png');
  margin-left: 10px;
}
.review {
  background-color: #483647;
  background-image: url('images/review-bg@2x.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.review__avatar {
  width: 104px;
  height: 104px;
  margin-bottom: 30px;
}
.review__text {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 30px;
}
.review__author {
  font-size: 18px;
  line-height: 36px;
  font-style: italic;
}
.review-controll__item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  cursor: pointer;
}
.review-controll__item--active {
  background-color: #fff;
}
.meals {
  padding: 100px, 0 50px;
  margin-top: 100px;
  /* центриорвать элемент ровно по середине */
}
.meals__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.meals__item {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20%;
  height: 225px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.meals__item--italy {
  background-image: url('images/meals/italian.jpg');
}
.meals__item--africa {
  background-image: url('images/meals/africa.jpg');
}
.meals__item--czech {
  background-image: url('images/meals/czech.jpg');
}
.meals__item--spain {
  background-image: url('images/meals/spain.jpg');
}
.meals__item--turkey {
  background-image: url('images/meals/turkey.jpg');
}
.meals__item--japan {
  background-image: url('images/meals/japan.jpg');
}
.meals__item--india {
  background-image: url('images/meals/india.jpg');
}
.meals__item--mexico {
  background-image: url('images/meals/mexico.jpg');
}
.meals__item--china {
  background-image: url('images/meals/china.jpg');
}
.meals__item--chilie {
  background-image: url('images/meals/chilie.jpg');
}
.meals__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 40px rgba(1, 1, 1, 0.55);
  text-align: center;
  color: #ebe7e7;
}
.meals__content:hover {
  text-shadow: 5px 5px 40px #010101;
  color: #fff;
}
.meals__counter {
  font-size: 15px;
  line-height: 30px;
  font-style: italic;
  letter-spacing: .7px;
}
.meals__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.recipes-counter {
  color: #000;
  list-style: none;
  padding: 0;
  margin: 60px 0 70px 0;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.recipes-counter__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 12px;
}
.recipes-counter__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  padding: 0;
}
.footer {
  height: 93px;
  background-color: #f7f7f7;
  padding: 0 10%;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.footer__copyright {
  color: rgba(139, 139, 139, 0.5);
  margin: 0;
}
.footer__design {
  margin: 0;
  text-transform: uppercase;
  color: #8b8b8b;
  margin-left: auto;
}
.footer__link {
  color: #000;
  font-weight: 400;
}
.bbb {
  border: 1px solid greenyellow;
}
