.button-menu {
    display: none;
    position: absolute;
    right: 0;
    list-style: none;
    text-align: right;
    padding: 10px 0 0;
    margin: 0;

    &__link {
      padding: 10px 40px;
      display: block;
      text-decoration: none;
      background-color: rgba(255, 255, 255, .4);
  
      &:hover {
        background-color: #eee;
        color: #333;
      }
    }
  }
  
#checkbox-button-menu:checked + .button-menu {
  display: block;
}