.features {
    width: 100%;
    padding: 100px 10%;

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: center;
    }

    &__item {
        width: 360px;
        padding: 0 10px;

        &:before {
            content: "";
            width: 107px;
            height: 107px;
            border: 1px solid #000;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            display: inline-block;
            margin-bottom: 20px;
        }

        &--burger:before {
            background-image: url('images/burger@2x.png');
        }
        &--money:before {
            background-image: url('images/money@2x.png');
        }
        &--men:before {
            background-image: url('images/man@2x.png');
        }
    }

    &__description {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        color: #8b8b8b;
    }
}