* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    -webkit-transition: color 0.5ms linear;
    -moz-transition: color 0.5ms linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

a:hover {
    text-decoration: none;
    color: #ffffff
}