.main {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.main__button {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 280px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 30px
}

.main__description {
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}