.meals {
    padding: 100px, 0 50px;
    margin-top: 100px;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 20%;
        height: 225px;
        color: #fff;
        position: relative;
        cursor: pointer;

        &--italy {
            background-image: url('images/meals/italian.jpg');
        }

        &--africa {
            background-image: url('images/meals/africa.jpg');
        }

        &--czech {
            background-image: url('images/meals/czech.jpg');
        }

        &--spain {
            background-image: url('images/meals/spain.jpg');
        }

        &--turkey {
            background-image: url('images/meals/turkey.jpg');
        }

        &--japan {
            background-image: url('images/meals/japan.jpg');
        }

        &--india {
            background-image: url('images/meals/india.jpg');
        }

        &--mexico {
            background-image: url('images/meals/mexico.jpg');
        }

        &--china {
            background-image: url('images/meals/china.jpg');
        }

        &--chilie {
            background-image: url('images/meals/chilie.jpg');
        }
    }

    /* центриорвать элемент ровно по середине */
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 1px 40px rgba(1, 1, 1, .55);
        text-align: center;
        color: rgb(235, 231, 231);
    }

    &__content:hover {
        text-shadow: 5px 5px 40px rgba(1, 1, 1, 1);
        color: #fff;
    }

    &__counter {
        font-size: 15px;
        line-height: 30px;
        font-style: italic;
        letter-spacing: .7px;
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
}

