.recipes-counter {
    color: #000;
    list-style: none;
    padding: 0;
    margin: 60px 0 70px 0;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 30px;
        margin: 0 0 12px;
    }

    &__description {
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        padding: 0;
    }
}