.review-controll {
    &__item {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        margin-left: 10px;
        cursor: pointer;

        &--active {
            background-color: #fff;
        }
    }
}