.section-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 0 19px;
  align-items: center;

  &:after {
    content: "";
    width: 88px;
    height: 1px;
    margin-top: 10px;
    background-color: #f69679;
  }

  &--left {
    align-items: left;
  }

  &--meals {
    margin-bottom: 50px;
  }
}